@import "tailwindcss";

@layer base {
  :root {
    --background: #f9f9f7;
    --foreground: #071108;
    --primary: #034732;
    --accent: #d4af37;
    --secondary-accent: #cea972;
    --font-heading: var(--cormorant-garamond);
    --font-body: var(--inter);
  }

  /* FONTS VARIABLES  */
  .font-heading-bold {
    font-family: var(--font-heading);
    font-weight: 700;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary-accent);
}
